*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 2;
  background-color: #082B59;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #59331d;
}

a:hover {
  text-decoration: none;
}

header {
  border-bottom: 10px solid #d98555;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 1rem 1rem 1rem;
  font-size: 1.3rem;
}

nav .logo img {
  max-width: 150px;
}

nav .logo {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: #d98555;
}


.hero {
  height: 600px;
  background-image: url('https://assets.bonappetit.com/photos/57c5d0e36a6acdf3485dfb2b/16:9/w_2560%2Cc_limit/3717295073_f5ae257d71_o.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.centered-logo {
  width: 600px; 
}

footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

@media (max-width: 1200px) {
  .centered-logo {
    width: 300px;  /* Adjust logo size for smaller screens */
  }
}

@media (max-width: 767px) {
  .centered-logo {
    width: 250px;
  }
}
